* {
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
:root {
  --primary: #ffb900;
  --font-heading: Sen, sans-serif;
  --line-clamp:1
}
/* coomon */
.line-clamp{
  display: -webkit-box;

  -webkit-line-clamp: var(--line-clamp, 1);
  -webkit-box-orient: vertical;
  overflow: hidden;

}
.line-clamp.line-2{
  --line-clamp: 2;
}
.break-all{
  word-break: break-all;
}
.heading.lv1 {
  font-size: 5.8rem;

  line-height: 1.17;
}
.heading.lv2 {
  font-size: 3.8rem;

  line-height: 1.26;
}
.heading {
  color: #171100;
  font-family: Sen;
  font-weight: 700;
  font-style: normal;
  /* 117.241% */
  letter-spacing: -1.16px;
  font-family: var(--font-heading);
}
.btn {
  min-width: 118px;
  padding: 0 16px;
  color: #fff;
  text-align: center;
  display: inline-block;
  font-size: 1.6rem;
  border-radius: 995px;
  background: #171100;
  font-weight: 600;
  line-height: 50px;
  cursor: pointer;
 
}
.btn:hover {
  opacity: 0.9;
}
a {
  text-decoration: none;
}
.main-content {
  max-width: calc(100%-48px);
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
}
/* header */
.header {
  background: #fffcf4;
}
.header.fixed {
  position: sticky;
  top: -28px;
  z-index: 999;
}
.header .body {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}
.nav {
  margin-left: auto;
}
.nav ul {
  display: flex;
}
.nav a {
  position: relative;
  color: #5f5b53;
  padding: 8px 21px;
  font-size: 1.6rem;
}

.nav a:hover,
.nav li.active a {
  color: #171100;
  text-shadow: 1px 0 0 currentColor;
}
.nav li.active a::after {
  position: absolute;
  content: "";
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background: #171100;
  display: block;
  left: 21px;
  bottom: 6px;
}
.header .sign-up-btn {
  min-width: 144px;
}

/* hero */
.hero .media-block .img {
  vertical-align: bottom;
  object-fit: cover;
  width: 470px;
  height: 685px;
  border-radius: 20px;
}
.hero {
  background: #fffcf4;
  padding: 56px 0 65px;
}
.hero .body {
  display: flex;
}
.hero .media-block {
  position: relative;
  width: 48%;
}
.hero .hero-summary {
  border-radius: 12px;
  padding: 24px;
  position: absolute;
  right: 0;
  bottom: 48px;
  background: #fff;
  width: 270px;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}
.hero-summary .item {
  align-items: center;
  display: flex;
}
.hero-summary .icon {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  background: #fff9e8;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-summary .info {
  margin-left: 16px;
}
.hero-summary .label {
  color: #5f5b53;

  font-size: 1.4rem;
  line-height: 1.86;
  font-weight: 400;
}
.hero-summary .title {
  font-size: 2.4rem;
  line-height: 1.67;
  font-weight: 600;
  color: #171100;
}
.hero-summary .item + .item {
  margin-top: 22px;
}
.hero-summary .item:nth-of-type(2) .icon {
  background: #fcefff;
}
.hero-summary .item:nth-of-type(2) .icon {
  background: #ebeaff;
}
/* hero-righ */
.hero .content-block {
  width: 52%;
  padding: 64px 0 0 130px;
}

.hero .desc {
  color: #5f5b53;
  margin-top: 22px;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.66; /* 166.667% */
}
.hero .cta-group {
  align-items: center;
  display: flex;
  margin: 38px 0 48px;
}
.hero-cta {
  min-width: 180px;
  border-radius: 32px;
  background: var(--primary);

  line-height: 64px;
}

.hero .watch-video {
  align-items: center;
  border: none;
  background: transparent;
  display: flex;
  margin-left: 28px;
  cursor: pointer;
}
.hero .watch-video .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0px 8px 80px rgba(0, 0, 0, 0.07);
}
.hero .watch-video span {
  color: #171100;
  font-family: Poppins;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
  margin-left: 14px;
}
.hero .stats {
  margin-left: -28px;
  margin-top: 8px;
}
.hero .stats strong {
  padding-left: 28px;
  padding-right: 8px;
  color: #171100;
  font-family: var(--font-heading);
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 1.22; /* 122.727% */
}

/* pupular */
.pupular {
  padding: 55px 0;
  margin-top: 135px;
}
.pupular .control .control-btn {
  border: none;
  background: transparent;
}
.pupular .puplar-top .desc {
  color: #5f5b53;
  margin-top: 16px;
  font-size: 1.8rem;
  width: 458px;
  font-weight: 400;
  line-height: 1.67rem;
}
.pupular .puplar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pupular .course-list {
  display: flex;
  margin-top: 55px;
  gap: 30px;
}
.pupular .course-item {
  flex: 1;
  border-radius: 12px;
  background: #fff;
  border: 1px solid #E2DFDA;

}
.pupular .course-item:hover{
border-color: transparent;
  box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
}
.pupular .course-list .thumb {
  border-radius: 12px 12px 0px 0px;
  width: calc(100% + 2px);
  height: 278px;
  object-fit: cover;
  margin: -1px;
}
.pupular .info .head,
.pupular .course-item .rating,
.pupular .foot  {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.pupular .info .title a{
  padding-right: 6px;
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.66;

}
.pupular .course-list .info {
  margin: 16px 22px;
}
.pupular .course-list .desc {
  color: #5f5b53;
  font-size: 1.4rem;
  width: 282px;
  font-weight: 400;
  line-height: 1.85;
}
.pupular .rating .value {
  color: #fea31b;
  margin-left: 6px;
}

.pupular .course-list .foot {
  margin-top: 12px;
 
}
.pupular .course-list .foot .price {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}
.pupular .foot .btn-foot {
  border: none;

}
.pupular .foot .btn-foot:hover{
  color: #fff;
  background: #FFB900;
  
}